:global {
  .panel-container {
    margin: 16px;

    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 16px 0 rgba(218, 223, 230, 0.5);
    .panel-title-container {
      height: 46px;
      padding: 0 20px;
      border-bottom: 1px solid #e4e7eb;

      line-height: 46px;
      box-sizing: border-box;
      .panel-title {
        color: rgba(0, 0, 0, 0.85);
        font-size: 16px;
        font-weight: 500;
      }
      .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    .content {
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .crm-collapse + .panel-container,
  .panel-container + .panel-container {
    margin-top: 0;
  }
}
