.search-form {
  display: flex;
  flex-wrap: wrap;

  .ant-form-item {
    .ant-form-item-row {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .ant-form-item-label {
    flex: none;
    width: 100px;
  }
  .ant-form-item-control {
    flex: none;
    width: 250px;
  }

  .operation {
    width: 100%;
    display: flex;
    justify-content: center;
    .ant-btn + .ant-btn {
      margin-left: 20px;
    }
  }
}
