@import "./form.scss";

body {
  margin: 0;
}

html,
body,
#app {
  height: 100%;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #0066ff;
  cursor: pointer;
  outline: none;
}

.page-footer-operation {
  display: flex;
  justify-content: center;
  margin: 10px 0 30px;
}
