.welcome-container {
  flex: 1;
  display: flex;
  margin: 16px;
  padding-top: 150px;

  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  .left {
    width: 460px;
    height: 420px;
    padding-top: 250px;

    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: rgba(0, 0, 0, 0.65);

    box-sizing: border-box;
  }
  .right {
    width: 620px;
    height: 420px;
  }
}
