:global {
  .crm-collapse {
    margin: 16px;

    .ant-collapse-item {
      border-bottom: none;
    }
    .ant-collapse-header-text {
      color: rgba(0, 0, 0, 0.85);
      font-size: 16px;
      font-weight: 500;
    }

    border-radius: 6px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 16px 0 rgba(218, 223, 230, 0.5);
    border: none;
    .ant-collapse-expand-icon {
      color: #0066ff;
      &::before {
        content: "展开";
        margin-right: 10px;
      }
    }
    .ant-collapse-item-active .ant-collapse-expand-icon::before {
      content: "收起";
    }
  }

  .crm-collapse + .crm-collapse {
    margin-top: 0;
  }
}
