.login-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-width: 1200px;
  height: 100vh;
  padding-top: 100px;

  background: linear-gradient(to bottom, #f9fbfe 20%, #ffffff 100%);
  box-sizing: border-box;
  .form {
    width: 480px;
    height: 560px;
    padding: 70px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;

    .logo {
      width: 143px;
      margin-bottom: 30px;
    }

    .welcome {
      line-height: 39px;
      font-size: 26px;
      color: #222222;
      margin-top: 0.67em;
      margin-bottom: 40px;
    }

    .el-form-item {
      position: relative;
      .forget-pwd {
        position: absolute;
        right: 0;
        top: 36px;

        color: #0066ff;
      }
    }

    .login-input {
      input {
        width: 340px;
        height: 32px;
        line-height: 32px;
        background-color: #e8f0fe;
      }
    }
    .login-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 6px;
      width: 100%;
      height: 32px;
      margin-top: 20px;
    }
  }

  .login-bg {
    width: 480px;
    height: 520px;
    margin-top: 20px;
  }
}
