.layout {
  display: flex;
  min-width: 1320px;
  min-height: 100vh;

  background-color: #f5f7f9;

  .sider {
    flex: none;
    background-color: #fff;
    box-shadow: 2px 0 16px 0 rgba(31, 116, 255, 0.12);
    .logo-box {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
      .logo {
        width: 129px;
      }
      .logo-collapsed {
        width: 21px;
      }
    }
  }
  .site-layout {
    flex-grow: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      align-items: center;
      width: 100%;
      height: 48px;
      padding: 0 30px 0 17px;
      line-height: 48px;
      background-color: #fff;
      box-shadow: 0 1px 12px 0 rgba(31, 116, 255, 0.12);
      .collapsed-icon {
        font-size: 20px;
        margin-right: 100px;
      }

      .header-menu {
        display: block;
        flex: 1;
      }

      .user-dropdown {
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #606266;
        font-size: 14px;
        .user-name {
          padding: 0 12px 0 5px;
          vertical-align: middle;
        }
        .avatar {
          width: 26px;
        }
        .arrow {
          font-size: 10px;
        }
      }
    }
    .main {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
